/*
 * nemo-window
*/

window.nemo-window separator.horizontal {
    padding: 0px;
    background-color: #cac6af;
}

window.nemo-window separator.vertical {
    background-color: #cac6af;
}

/*window.nemo-window menubar,
window.nemo-window toolbar.primary-toolbar {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d8d2bd;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
}*/

window.nemo-window box.horizontal entry {
    border-width: 1px;
    border-color: #7f9db9;
}


/*window.nemo-window statusbar.horizontal frame {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d8d2bd;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d8d2bd;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
}*/

/*window.nemo-window button.image-button:hover {
	border-color: #cecec3;
	border-radius: 3px;
	background-image: none;
	background-color: #f8f8f4;
	box-shadow: inset -1px -2px 2px 0px rgba(80.8,80.8,76.5,0.20);
	-gtk-icon-effect: highlight;
}

window.nemo-window button.image-button:hover:active {
	border-color: #9d9d92;
	border-radius: 3px;
	background-image: none;
	background-color: #e5e4de;
	box-shadow: inset -1px -2px 2px 0px rgba(80.8,80.8,76.5,0.20);
}

window.nemo-window button.image-button {
	border-color: rgba(0,0,0,0);
	border-radius: 0px;
	background-image: none;
	background-color: rgba(0,0,0,0);
	box-shadow: none;
}

window.nemo-window button.image-button.toggle:checked {
	border-color: #7a98af;
	border-radius: 3px;
	background-image: none;
	background-color: #ffffff;
	box-shadow: none;
}*/

/*window.nemo-window .primary-toolbar {
	padding: 0px 2px 1px 2px;
	box-shadow: inset 1px -0.5px 2px -1px rgba(80.8,80.8,76.5,0.20);
}*/

window.nemo-window.nemo-canvas-item {
    border-radius: 0px;
}

window.nemo-window.nemo-canvas-item:backdrop {
    border-radius: 0px;
    background-color: #ece9d8;
}

window.nemo-window.nemo-canvas-item entry {
    border-radius: 0px;
}

window.nemo-window.nemo-canvas-item entry:backdrop {
    border-radius: 0px;
    background-color: #ece9d8;
}

.nemo-window .nemo-window-pane widget.entry {
    border: 1px solid;
    border-color: #335EA8;
    color: #000000;
    background-color: #FFFFFF;
}

.nemo-window .nemo-window-pane widget.entry:selected,
.nemo-window .nemo-window-pane widget.entry:selected:focus {
    color: #FFFFFF;
    background-color: #335EA8;
}

.nemo-window .nemo-window-pane widget.entry:focus:backdrop {
    color: #000000;
    background-color: #ece9d8;
}

